
<!-- <div style="display:grid; grid-template-columns: 1fr 1fr 1fr;">
  <img src="../../../../assets/IMG20230514191306.jpg" class="d-block w-100" alt="...">
  <img src="../../../../assets/IMG20230514191312.jpg" class="d-block w-100" alt="...">
  <img src="../../../../assets/IMG20230514191759.jpg" class="d-block w-100" alt="...">
  <img src="../../../../assets/IMG20230514191306.jpg" class="d-block w-100" alt="...">
  <img src="../../../../assets/IMG20230514191312.jpg" class="d-block w-100" alt="...">
  <img src="../../../../assets/IMG20230514191759.jpg" class="d-block w-100" alt="...">
</div> -->
<!-- <div id="carouselExample" class="carousel slide w-50 "   style="height: 200px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/IMG20230514191306.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/IMG20230514191312.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/IMG20230514191759.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<div id="myCarousel" #myCarousel class="carousel slide w-50" data-bs-ride="carousel" style="border: solid 2px red;">
  <div class="carousel-inner " style="border: solid 2px blue;">
    <div class="carousel-item active" style="border: solid 2px black;">
      <img src="../../../../assets/IMG20230514191306.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/nosotros.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/IMG20230514191759.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<button (click)="stop()">
  parar
</button>
<div id="myCarousel2" #myCarousel2 class="carousel slide w-50" style="border: solid 2px red;">
  <div class="carousel-inner " style="border: solid 2px blue;">
    <div class="carousel-item active" style="border: solid 2px black;">
      <img src="../../../../assets/IMG20230514191306.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/nosotros.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/IMG20230514191759.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


